.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin: auto;
  height: 100vh;

  background-color: #fafafa;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 10px;
}

input {
  width: 300px;
  max-height: 20px;
  font-size: 1em;
  padding: 0.3em;

  border: 1px solid #bbb;
  border-radius: 3px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  width: auto;
  margin-right: 10px;
}

.checkbox label {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.formHeader {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-bottom: 20px;
}

.formHeader button {
  background-color: #178beb;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  padding: 5px;
}

.formHeader button:hover {
  background-color: #0a7bd8;
  cursor: pointer;
}

.formHeader button:disabled {
  background-color: #aaaaaa;
  cursor: default;
}
